@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #FFFBE6;
    font-family: Inter, sans-serif;
    text-align: center;
}

.nav,
.ingredients {
    list-style: none;
}


.steps,
.nav {
    border-radius: 5px;
    background-color: #FCCD2A;
    padding: 2% 5%;
    margin: 0 20%;
    color: #FFFBE6;
}

.steps {
    text-align: start;
}

h1 {
    color: #347928;
  }

a,
a:visited {
    text-decoration: none;
    font-size: 18px;
    color: #FFFBE6;
    text-align: center;
}

